@use "variaveis";

.header {
  align-items: center;
  background-color: variaveis.$corDoBotao;
  display: flex;
  justify-content: space-between;
  min-height: 70px;

  h2 {
    margin-left: 30px;

    @media (max-width: 767px) {
      text-align: center;
      margin-right: 10px;
    }
  }

  &__container {

    &__menu{
      display: none;
      transform: translateX(100%);
      transition: transform all .2s ease;

      @media (max-width: 767px) {
        display: block;
        font-size: 40px;
        cursor: pointer;
        margin-right: 50px;
        text-align: center;
      }
    }

    &__links {

      @media (max-width: 768px) {
            display: none;
          } 

      &__item {
        font-size: 18px;
        font-weight: bold;
        display: inline;
        margin-left: 10px;
        margin-right: 20px;

        a {
          text-decoration: none;
          color: variaveis.$corDaBorda;
        }

        a:hover {
        text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
      }

        @media (max-width: 768px) {
          display: block;
          margin-top: 5px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    font-size: 22px;
    text-align: center;
  }
}
