$corDeFundo: rgb(225, 23, 20);
$corDoBotao: rgb(155, 4, 4);
$corDoHover: rgb(168, 75, 75);
$corTextoBranco: #fff;
$corDaBorda: #000;
$corDaQuestions: rgb(177, 25, 25);
$fontPrincipal: 'Ubuntu', sans-serif;